h2{
    color: white;
}h1{
    margin-block-start: 0em; 
    color: white;
}
.input1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input{
    height: 1.5em;
}
textarea{
    width: 100%;
    margin-top: 2em;
}
.container{
    margin-top: 5%;
    background-color: #1C1C1C;
    display: inline-flex;
    padding: 1.5em;
    border-radius: 0.5em;
    flex-direction: column;
    align-items: center;
    width: 20em;
}

.area{
    display: flex;
    justify-content: center;
}

button{
    height: 3em;
    width: 100%;
    background-color: #FF9500;
    border: none;
    color: white;
}
button:hover{
    cursor: pointer;
}

body {
	color-scheme: light dark;
	/* color: rgba(255, 255, 255, 0.87);	 */
	background: linear-gradient(to left, #e6cf03, green, #FF4500, red);
	background-size: 500% 100%;
	animation: degrade 5s infinite alternate;
}

@keyframes degrade {
	0%{
		background-position-x: 0%
	}
	
	100% {
		background-position-x: 100%
	}
}